/* <!-- Toledo, Matthew Steven P. -->
<!-- CMSC 100 U5L - 2023-10986 -->
<!-- Exercise 01; February 7, 2025 -->  */

/* Create custom font class */

.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }

/* HEADERS */

#header-container {
    display: flex;   
    justify-content: center; /* Center the logo */
    margin: 5px;
    height: 80px; /* Preset height size */
    width: 99%;  
}

#banner-image {
    width: 98vw; /*Ensure the banner spans basically all of the WINDOW width*/
    height: auto;  
} 

/* NAV BAR (credits to BroCode on youtube for most of this i just played around after */
 
.navbar ul{ 
    list-style-type: none; /*Remove bullets*/
    background-color: rgb(224, 224, 224);  
    box-shadow: 10px 10px 1px gray;
    display: flex;
    justify-content: center; 
    margin: 4px; /* Margins/Padding to shape the bar itself */
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 40px;
    padding: 0;  
}

.navbar a{ 
    color: white;
    text-decoration: none; /*Remove underline that comes with anchors*/
    background-color: rgb(224, 224, 224); 
    color: black;
    margin: 5px;
    padding: 15px;
    display: block; /*Keep anchors in the bar*/
    text-align: center;
    font-family: "Press Start 2P", serif; /*Use custom font*/
    font-size: large;
} 

.navbar a:hover{ /*Hover animation*/
    text-decoration: underline;
    color: rgb(235, 76, 76); 
}

.navbar-p{ /*Same format as anchors*/
    text-decoration: none; 
    color: black;
    background-color: rgb(224, 224, 224);
    margin: 5px;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
}

html { /*Glide along the page when using hyperlinks*/
	scroll-behavior: smooth; 
    
}

/* BODY (real body) */

*{
    list-style-type: none;
    text-decoration: none;
}

body {
    background-image: url("./image_assets/background_texture.png");
    background-color: #201c1c; /*For if bg-img doesnt load*/
    font-family: Arial, Helvetica, sans-serif; /*Default font and font-color*/
    color: rgb(211, 211, 211); 
    display: flex; /*For alignment*/
    align-items: center;  
    flex-direction: column; /*To keep things vertical*/   
    height: 100%;
    margin: 0;
}

.space-maker{ /*Invisible*/
    opacity: 0;
}

.black-box-text{
    font-family: "Press Start 2P", serif; /*Use custom font*/
    background-color: rgb(14, 13, 13); 
    width: 90%; 
    padding: 20px;
}

.white-box-text{
    background-color: rgba(255, 255, 255, 0.05);
    color: rgb(189, 189, 189);
    padding: 20px;
    font-family: monospace;
    font-size: x-large;  
    width: 90%; 
    word-wrap: break-word; /*Allows text to wrap around text-space freely without needing excessive line breaks in HTML file*/
    line-height: 1.5; /*Space between lines*/
}

/* BODY: PROJECTS */

#projects_container{ 
    display: flex; /*Keep project-box within the same row*/
    justify-content: center;
    /* flex-wrap: wrap; */
        /* Nah. */
}

.project-box{
    background-color: rgba(255, 255, 255, 0.05); 
    color: rgb(199, 199, 199);
    float: left; 
    margin-bottom: 40px; /*Spacings and such*/
    margin: 20px;
    padding: 20px;
    width: 30%; /*Take up 30% of the projects-container width*/
    text-align: center;
}

.project-box:hover{ /*Hover animation... akala mo malalaro mo yung game BWAAHAHAHAHA*/
    background-color: rgba(255, 255, 255, 0.15); 
}

.projects_images{
    width: 100%; 
    height: auto; 
}

/* BODY: SKILLS */

#skills_container{
    display: flex;
    justify-content: center; 
    margin-bottom: 40px;
}

#skills_photo{
    width: 30vw; /*These dimension constraints bcoz MY FACE WARPS IF I USE OTHERS (and i dont wanna use fixed pixel sizes for this giant*/
    height: 40%;
    box-shadow: 10px 10px 1px gray; 
    margin-right: 5vh;
    margin-top: 5vh;
}

#skills_content, #skills_header{  
    margin-left: 5vh;
}

/* BODY: ABOUT ME */

#about-me_container{
    display: flex;
    justify-content: center; 
    margin-bottom: 40px;
}

#about-me_photo{
    width: 40vw; /*These dimension constraints bcoz MY FACE WARPS IF I USE OTHERS (and i dont wanna use fixed pixel sizes for this giant*/
    height: 40%;
    box-shadow: 10px 10px 1px gray;
    margin-left: 5vh;
    margin-top: 3vh;
}

/* FOOTER (credits to Marc Hinton on Youtube for a lot ... well, most. of this)*/

.footer { /*The big gray row in its entirety*/
    width: 100%; /*Cover page side-to-side*/
    display: block;
    overflow: hidden;
    padding: 40px 0;  
    background-color: rgb(36, 36, 36); 
}

.inner_footer{ /*Inner section that */
    margin: 0 auto;
    width: 1100px; 
}

.inner_footer .logo_container{ /*Houses the logo only*/
    width: 20%; /*Width will be 20% of the INNER FOOTER*/
    float: left;
    height: 100%;
}

.inner_footer .logo_container img{ /*Img tags within the container only*/
    width: 70%; /*Width will be 70% of the LOGO CONTAINER, so there is a margin-mimick between this and footer-content*/
    height: auto;
}

.inner_footer .footer_content{ /*Text holder*/
    width: 60%;  
    height: 100%;
    float: left; 
}

.inner_footer .footer_content h1{
    font-family: "Press Start 2P";
    font-size: 22px;
    color: white; 
    width: 100%;
    margin-bottom: 20px;
}

.inner_footer .footer_content a{  
    font-size: 18px;
    font-weight: bolder;
    color: white; 
    width: 100%;
    margin-bottom: 10px;  
}

.inner_footer .footer_content a:hover{ /*Hover animation*/
    text-decoration: underline;
    color: rgb(141, 141, 141);
    background-color: #dad0cd;
}